html{font-family: sans-serif; }
body{width: 900px;}
h3{ color: maroon}
.navbar{background-color:steelblue; padding-top: 15px; padding-bottom:15px;}
.navbar a:any-link{color:white; font-weight:bold; text-decoration: none;padding-left: 50px; padding-right: 20px}
#currentpage{color:black}
.navbar a:hover{color:lightsteelblue}
ul{padding-left: 20px}
ul a:any-link{ color: steelblue; font-weight:bold; text-decoration: none;}
ul a:hover{color:maroon}
ul a:focus{color:maroon}
h1{color:steelblue; text-shadow: 2px 2px 4px steelblue; font-style: italic; font-size: 40px}
img{float:left}
li{padding-bottom: 4px}
header{background-image: linear-gradient(white,lightsteelblue); padding-top: 4px;
  padding-bottom: 8px; border-bottom:2px steelblue}
aside{float: left; width: 245px; padding-right: 15px; padding-left: 15px}
aside h2{color:maroon}
main{float: right; width: 585px; padding-right: 20px; padding-left: 20px}
footer{text-align: center; font-size: 14px; background-color: steelblue;
  color:white; padding-top: 6px; padding-bottom: 6px; margin-top: 100%}

